*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* #countNum{
    display: block;
    text-align: center;
    padding-top: 100px;
    font-size: 8em;
}

.btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

button{
    padding: 7px 20px;
    background-color: rgb(134, 134, 242);
    border: none;
    border-radius: 2px;
    color: #FFFFFF;
}

button:hover{
    background-color: rgb(71, 71, 246);
}

button:active{
    background-color: rgb(29, 29, 130);
} */

/* .container{
    width: 50%;
    margin: 0 auto;
    border: 1px solid rgb(0, 17, 255);
    margin-top:50px;
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    text-align: center;
}

.container h1{
    color: rgb(76, 76, 231);
}


input[type="number"]{
    width: 50%;
}

button{
    border: none;
    padding: 8px 30px;
    margin-top: 10px;
    background-color: rgb(170, 170, 244);
    transition: all ease .3s;
}

button:hover{
    background-color: rgb(76, 76, 231);
} */

/* 
img {
    width: 100px;
    height: 100px;
} */

/* body{
    background: linear-gradient(#78b0cc, #19555a);
    background-repeat: no-repeat;

}
.clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#displayClock {
    font-size: 5rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    color: #fff;
} */
/* 
body{
    background-color: rgb(231, 231, 231);
}

.container h2{
    color: rgb(155, 71, 71);
    font-size: 2rem;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.stopwatch-content{
    background-color: rgb(255, 244, 244);
    border-radius: 10px;
    border: 2px solid rgb(255, 0, 0);
    width: 200px;
    padding: 50px 120px 30px 120px;
}

.buttons{
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

button{
    margin-top: 15px;
    padding: 10px 25px;
    border: none;
    color: white;
    border-radius: 5px;
    transition: all ease .5s;
}

#startBtn{
    background-color:green;
}

#stopBtn{
    background-color:red;
}

#resetBtn{
    background-color:blue;
}


#startBtn:hover{
    background-color:rgb(140, 199, 140);
}

#stopBtn:hover{
    background-color:rgb(198, 157, 157);
}

#resetBtn:hover{
    background-color:rgb(141, 141, 216);
}
#displayTime{
    font-family: monospace;
    font-size: 2rem;
} */

/* 
.container{
   width: 25%;
   margin: 75px auto;
background-color: rgb(45, 45, 45);
border-radius: 10px;
border: none;
max-width: 500px;
}

.calculator-input input{
    width:100%;
    border-top-left-radius:  10px;
    border-top-right-radius:  10px;
    border: none;
    padding: 20px;
    height: 75px;
    background-color: gray;
    overflow: hidden;
    font-size: 1.8rem;
    text-align: right;
    color: #FFF;
    font-weight: 400;
}

.calculator-nums{
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 gap: 2px;
 padding: 10px;
 justify-content: space-evenly;
}


.calculator-nums button{
    border: none;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    color: #FFF;
    background-color: gray;
    font-size: 1.3rem;
    margin: 3px;
    cursor: pointer;
}

.calculator-nums button:hover{

    background-color: rgb(109, 109, 109);
}

#symbol{
   text-transform:capitalize;
}

#symbol:hover{
    background-color: rgb(235, 165, 2);
} 
*/

/* .myBtn{
    padding: 20px 35px;
    border: none;
    font-size: 1.2rem;
    display: flex;
    margin: 5px;
} */

/* body{
    text-align: center;
    margin: 80px auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.choices{
    display: flex;
    justify-content: center;
    gap: 10px;

    margin-top: 20px;
    margin-bottom: 20px; 
    transition: opacity 1s ease;
}

.choices:hover >:not(:hover){
    opacity: 0.6;
}

.choices button{
    padding: 20px;
    background-color: rgb(202, 100, 176);
    border-radius: 50%;
    transition: all ease .2s;
    border: none;
    font-size: 3rem;
}

.choices div:hover{
    transform:scale(1.2);
    background-color: rgb(198, 125, 180);
}


.choice button:hover > :not(:hover) {
    opacity: .4;
}

#playerDisplay{
    color: blue;
}

#computerDisplay{
    color: yellow;
}

#playerDisplay, #computerDisplay{
    text-transform: uppercase;
}
 */

/* sdads */